<a href="https://colab.research.google.com/github/ThierrryScotto/2021_2_Computacao_Dispositivos_Moveis_Noite/blob/master/car_sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Getting the dataset

In [25]:
url = "https://raw.githubusercontent.com/ThierrryScotto/car-sales-prediction/master/tabela-fipe-historico-precos.csv"

In [26]:
dataset = pd.read_csv(url)
dataset

,Unnamed: 0,codigoFipe,marca,modelo,anoModelo,mesReferencia,anoReferencia,valor
0,0,038003-2,Acura,Integra GS 1.8,1992,11,2016,13041.0
1,1,038001-6,Acura,NSX 3.0,1995,3,2013,52339.0
2,2,038003-2,Acura,Integra GS 1.8,1992,3,2018,12423.0
3,3,038002-4,Acura,Legend 3.2/3.5,1998,5,2016,31067.0
4,4,038002-4,Acura,Legend 3.2/3.5,1998,2,2019,26381.0
...,...,...,...,...,...,...,...,...
466015,544147,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2011,2,2015,24811.0
466016,544148,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,6,2006,31503.0
466017,544149,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2011,8,2016,23582.0
466018,544150,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,7,2007,31990.0
466019,544151,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,4,2009,34425.0

In [27]:
dataset.shape

(466020, 8)

In [28]:
dataset.describe()

,Unnamed: 0,anoModelo,mesReferencia,anoReferencia,valor
count,466020.000000,466020.000000,466020.000000,466020.000000,4.660200e+05
mean,272398.094633,2008.968325,6.453541,2015.181181,1.157456e+05
std,159700.922711,9.999445,3.417056,5.677257,3.250737e+05
min,0.000000,1985.000000,1.000000,2001.000000,1.871000e+03
25%,132377.000000,2000.000000,4.000000,2011.000000,1.938800e+04
50%,275044.500000,2009.000000,6.000000,2017.000000,3.941650e+04
75%,408696.250000,2020.000000,9.000000,2020.000000,8.479450e+04
max,544151.000000,2023.000000,12.000000,2022.000000,8.407082e+06

# Data Preparation

In [29]:
dataset.head(5)

,Unnamed: 0,codigoFipe,marca,modelo,anoModelo,mesReferencia,anoReferencia,valor
0,0,038003-2,Acura,Integra GS 1.8,1992,11,2016,13041.0
1,1,038001-6,Acura,NSX 3.0,1995,3,2013,52339.0
2,2,038003-2,Acura,Integra GS 1.8,1992,3,2018,12423.0
3,3,038002-4,Acura,Legend 3.2/3.5,1998,5,2016,31067.0
4,4,038002-4,Acura,Legend 3.2/3.5,1998,2,2019,26381.0

In [30]:
dataset.rename(columns={"codigoFipe"    : "FipeCode",
                        "marca"         : "Brands",
                        "modelo"        : "Model",
                        "anoModelo"     : "ModelYear",
                        "mesReferencia" : "ManufacturingMonth",
                        "anoReferencia" : "ManufacturingYear",
                        "valor"         : "Price" }, 
               inplace = True)
dataset.columns

In [33]:
dataset.drop(columns=["Unnamed: 0"], inplace = True)
dataset

,FipeCode,Brands,Model,ModelYear,ManufacturingMonth,ManufacturingYear,Price
0,038003-2,Acura,Integra GS 1.8,1992,11,2016,13041.0
1,038001-6,Acura,NSX 3.0,1995,3,2013,52339.0
2,038003-2,Acura,Integra GS 1.8,1992,3,2018,12423.0
3,038002-4,Acura,Legend 3.2/3.5,1998,5,2016,31067.0
4,038002-4,Acura,Legend 3.2/3.5,1998,2,2019,26381.0
...,...,...,...,...,...,...,...
466015,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2011,2,2015,24811.0
466016,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,6,2006,31503.0
466017,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2011,8,2016,23582.0
466018,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,7,2007,31990.0
466019,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,4,2009,34425.0

In [42]:
dataset.dtypes

FipeCode               object
Brands                 object
Model                  object
ModelYear               int64
ManufacturingMonth      int64
ManufacturingYear       int64
Price                 float64
dtype: object